# 游닀 Exploraci칩n del Dataset
## Dataset: Student Performance Factors

Este proyecto analiza factores que influyen en el rendimiento estudiantil usando un dataset p칰blico de Kaggle.  
El objetivo de este Notebook es aplicar t칠cnicas de **carga** y **exploraci칩n** del dataset.

## 游댢 1. Carga de librer칤as y dataset
En esta secci칩n importamos las librer칤as necesarias y cargamos el dataset desde la carpeta `../data/`.

In [1]:
# Importar librer칤as
import pandas as pd

In [2]:
# Cargar el dataset
df = pd.read_csv("../data/student_performance.csv")

## 游댌 2. Exploraci칩n inicial
Aqu칤 revisamos la forma del dataset, sus columnas y tipos de datos.

In [3]:
print("Primer vistazo al dataset:")
df.head()

Primer vistazo al dataset:

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
0,23,84,Low,High,No,7,73,Low,Yes,0,Low,Medium,Public,Positive,3,No,High School,Near,Male,67
1,19,64,Low,Medium,No,8,59,Low,Yes,2,Medium,Medium,Public,Negative,4,No,College,Moderate,Female,61
2,24,98,Medium,Medium,Yes,7,91,Medium,Yes,2,Medium,Medium,Public,Neutral,4,No,Postgraduate,Near,Male,74
3,29,89,Low,Medium,Yes,8,98,Medium,Yes,1,Medium,Medium,Public,Negative,4,No,High School,Moderate,Male,71
4,19,92,Medium,Medium,Yes,6,65,Medium,Yes,3,Medium,High,Public,Neutral,4,No,College,Near,Female,70

In [4]:
print("Forma del dataset:", df.shape)
print("\nColumnas:")
print(df.columns)

Forma del dataset: (6607, 20)

Columnas:
Index(['Hours_Studied', 'Attendance', 'Parental_Involvement',
       'Access_to_Resources', 'Extracurricular_Activities', 'Sleep_Hours',
       'Previous_Scores', 'Motivation_Level', 'Internet_Access',
       'Tutoring_Sessions', 'Family_Income', 'Teacher_Quality', 'School_Type',
       'Peer_Influence', 'Physical_Activity', 'Learning_Disabilities',
       'Parental_Education_Level', 'Distance_from_Home', 'Gender',
       'Exam_Score'],
      dtype='object')

In [5]:
# Informaci칩n general
df.info()

# Estad칤sticas descriptivas
df.describe(include='all') # Con include='all' hacemos que lo haga con cada columna

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6607 entries, 0 to 6606
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Hours_Studied               6607 non-null   int64
 1   Attendance                  6607 non-null   int64
 2   Parental_Involvement        6607 non-null   object
 3   Access_to_Resources         6607 non-null   object
 4   Extracurricular_Activities  6607 non-null   object
 5   Sleep_Hours                 6607 non-null   int64
 6   Previous_Scores             6607 non-null   int64
 7   Motivation_Level            6607 non-null   object
 8   Internet_Access             6607 non-null   object
 9   Tutoring_Sessions           6607 non-null   int64
 10  Family_Income               6607 non-null   object
 11  Teacher_Quality             6529 non-null   object
 12  School_Type                 6607 non-null   object
 13  Peer_Influence              6607 non-null   object
 14  Physical_Activity           6607 non-null   int64
 15  Learning_Disabilities       6607 non-null   object
 16  Parental_Education_Level    6517 non-null   object
 17  Distance_from_Home          6540 non-null   object
 18  Gender                      6607 non-null   object
 19  Exam_Score                  6607 non-null   int64
dtypes: int64(7), object(13)
memory usage: 1.0+ MB

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
count,6607.000000,6607.000000,6607,6607,6607,6607.00000,6607.000000,6607,6607,6607.000000,6607,6529,6607,6607,6607.000000,6607,6517,6540,6607,6607.000000
unique,NaN,NaN,3,3,2,NaN,NaN,3,2,NaN,3,3,2,3,NaN,2,3,3,2,NaN
top,NaN,NaN,Medium,Medium,Yes,NaN,NaN,Medium,Yes,NaN,Low,Medium,Public,Positive,NaN,No,High School,Near,Male,NaN
freq,NaN,NaN,3362,3319,3938,NaN,NaN,3351,6108,NaN,2672,3925,4598,2638,NaN,5912,3223,3884,3814,NaN
mean,19.975329,79.977448,NaN,NaN,NaN,7.02906,75.070531,NaN,NaN,1.493719,NaN,NaN,NaN,NaN,2.967610,NaN,NaN,NaN,NaN,67.235659
std,5.990594,11.547475,NaN,NaN,NaN,1.46812,14.399784,NaN,NaN,1.230570,NaN,NaN,NaN,NaN,1.031231,NaN,NaN,NaN,NaN,3.890456
min,1.000000,60.000000,NaN,NaN,NaN,4.00000,50.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,55.000000
25%,16.000000,70.000000,NaN,NaN,NaN,6.00000,63.000000,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,2.000000,NaN,NaN,NaN,NaN,65.000000
50%,20.000000,80.000000,NaN,NaN,NaN,7.00000,75.000000,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,67.000000
75%,24.000000,90.000000,NaN,NaN,NaN,8.00000,88.000000,NaN,NaN,2.000000,NaN,NaN,NaN,NaN,4.000000,NaN,NaN,NaN,NaN,69.000000
max,44.000000,100.000000,NaN,NaN,NaN,10.00000,100.000000,NaN,NaN,8.000000,NaN,NaN,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,101.000000

## 游늶 Primeras observaciones 

- El dataset contiene **6607 filas** y **20 columnas**. 

- Las columnas incluyen tanto **variables num칠ricas** (ej. `Exam_Score`, `Hours_Studied`) como **categ칩ricas** (ej. `Gender`, `Parental_Involvement`, `Motivation_Level`).

### 2.1 Duplicados

In [6]:
# Comprobaci칩n de duplicados
duplicados = df.duplicated().sum()
print(f"N칰mero de filas duplicadas: {duplicados}")

N칰mero de filas duplicadas: 0

### 2.2 Valores nulos

In [7]:
# Comprobaci칩n de valores nulos
df.isna().sum()

Hours_Studied                  0
Attendance                     0
Parental_Involvement           0
Access_to_Resources            0
Extracurricular_Activities     0
Sleep_Hours                    0
Previous_Scores                0
Motivation_Level               0
Internet_Access                0
Tutoring_Sessions              0
Family_Income                  0
Teacher_Quality               78
School_Type                    0
Peer_Influence                 0
Physical_Activity              0
Learning_Disabilities          0
Parental_Education_Level      90
Distance_from_Home            67
Gender                         0
Exam_Score                     0
dtype: int64

### 2.3 Tipos de datos

En el dataset, se identificaron 13 columnas tipo objets con valores como `"Yes/No"`, `"Low/Medium/High"` o `"Public/Private"`.  

Columnas:

- `Parental_Involvement`
- `Access_to_Resources`
- `Extracurricular_Activities`
- `Motivation_Level`
- `Internet_Access`
- `Family_Income`
- `Teacher_Quality`
- `School_Type`
- `Peer_Influence`
- `Learning_Disabilities`
- `Parental_Education_Level`
- `Distance_from_Home`
- `Gender`

## 游늶 Observaciones para la Limpieza

- Los nombres de las columnas ya estaban en `snake_case`, por lo que solo se convertir치n a **min칰sculas** para mantener coherencia.

- Comprobaci칩n de duplicados. El resultado fue **0 filas duplicadas**, por lo tanto **no ser치 necesario eliminar registros repetidos**.

- Se detectaron valores *nulos* en **tres columnas** del dataset:

    - `Teacher_Quality` (78 nulos): **categ칩rica**.
    - `Parental_Education_Level` (90 nulos): **categ칩rica**.
    - `Distance_from_Home` (67 nulos): **categ칩rica**.

俱뫮잺 No se realizar치 imputaci칩n de nulos. Las visualizaciones afectadas mostrar치n 칰nicamente los registros completos.

俱뫮잺 La validaci칩n de **rangos** y **categor칤as** se realizar치 en el notebook **2_transformation.ipynb**, como parte de la limpieza estructural.

Estas observaciones confirman que el dataset requiere una limpieza estructurada, que se abordar치 en el notebook `2_transformation.ipynb`.