#  Exploratory Data Analysis (EDA)
## Dataset: Student Performance Factors

Este proyecto analiza factores que influyen en el rendimiento estudiantil usando un dataset p煤blico de Kaggle.  
El objetivo es aplicar t茅cnicas de **limpieza de datos**, **exploraci贸n** y **visualizaci贸n** para extraer patrones relevantes.

##  1. Carga de librer铆as y dataset
En esta secci贸n importamos las librer铆as necesarias y cargamos el dataset desde la carpeta `../data/`.

In [1]:
# Importar librer铆as
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [23]:
# Cargar el dataset
df = pd.read_csv("../data/student_performance.csv")

##  2. Exploraci贸n inicial
Aqu铆 revisamos la forma del dataset, sus columnas y tipos de datos.

In [24]:
# Exploraci贸n inicial
print("Forma del dataset:", df.shape) # Muestra filas x columnas
print("\nColumnas:")
print(df.columns)

df.head()

Forma del dataset: (6607, 20)

Columnas:
Index(['Hours_Studied', 'Attendance', 'Parental_Involvement',
       'Access_to_Resources', 'Extracurricular_Activities', 'Sleep_Hours',
       'Previous_Scores', 'Motivation_Level', 'Internet_Access',
       'Tutoring_Sessions', 'Family_Income', 'Teacher_Quality', 'School_Type',
       'Peer_Influence', 'Physical_Activity', 'Learning_Disabilities',
       'Parental_Education_Level', 'Distance_from_Home', 'Gender',
       'Exam_Score'],
      dtype='object')

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
0,23,84,Low,High,No,7,73,Low,Yes,0,Low,Medium,Public,Positive,3,No,High School,Near,Male,67
1,19,64,Low,Medium,No,8,59,Low,Yes,2,Medium,Medium,Public,Negative,4,No,College,Moderate,Female,61
2,24,98,Medium,Medium,Yes,7,91,Medium,Yes,2,Medium,Medium,Public,Neutral,4,No,Postgraduate,Near,Male,74
3,29,89,Low,Medium,Yes,8,98,Medium,Yes,1,Medium,Medium,Public,Negative,4,No,High School,Moderate,Male,71
4,19,92,Medium,Medium,Yes,6,65,Medium,Yes,3,Medium,High,Public,Neutral,4,No,College,Near,Female,70

In [25]:
# Informaci贸n general
df.info()

# Estad铆sticas descriptivas
df.describe(include='all') # Con include='all' hacemos que lo haga con cada columna

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6607 entries, 0 to 6606
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Hours_Studied               6607 non-null   int64
 1   Attendance                  6607 non-null   int64
 2   Parental_Involvement        6607 non-null   object
 3   Access_to_Resources         6607 non-null   object
 4   Extracurricular_Activities  6607 non-null   object
 5   Sleep_Hours                 6607 non-null   int64
 6   Previous_Scores             6607 non-null   int64
 7   Motivation_Level            6607 non-null   object
 8   Internet_Access             6607 non-null   object
 9   Tutoring_Sessions           6607 non-null   int64
 10  Family_Income               6607 non-null   object
 11  Teacher_Quality             6529 non-null   object
 12  School_Type                 6607 non-null   object
 13  Peer_Influence              6607 non-null   object
 14  Physical_Activity           6607 non-null   int64
 15  Learning_Disabilities       6607 non-null   object
 16  Parental_Education_Level    6517 non-null   object
 17  Distance_from_Home          6540 non-null   object
 18  Gender                      6607 non-null   object
 19  Exam_Score                  6607 non-null   int64
dtypes: int64(7), object(13)
memory usage: 1.0+ MB

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
count,6607.000000,6607.000000,6607,6607,6607,6607.00000,6607.000000,6607,6607,6607.000000,6607,6529,6607,6607,6607.000000,6607,6517,6540,6607,6607.000000
unique,NaN,NaN,3,3,2,NaN,NaN,3,2,NaN,3,3,2,3,NaN,2,3,3,2,NaN
top,NaN,NaN,Medium,Medium,Yes,NaN,NaN,Medium,Yes,NaN,Low,Medium,Public,Positive,NaN,No,High School,Near,Male,NaN
freq,NaN,NaN,3362,3319,3938,NaN,NaN,3351,6108,NaN,2672,3925,4598,2638,NaN,5912,3223,3884,3814,NaN
mean,19.975329,79.977448,NaN,NaN,NaN,7.02906,75.070531,NaN,NaN,1.493719,NaN,NaN,NaN,NaN,2.967610,NaN,NaN,NaN,NaN,67.235659
std,5.990594,11.547475,NaN,NaN,NaN,1.46812,14.399784,NaN,NaN,1.230570,NaN,NaN,NaN,NaN,1.031231,NaN,NaN,NaN,NaN,3.890456
min,1.000000,60.000000,NaN,NaN,NaN,4.00000,50.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,55.000000
25%,16.000000,70.000000,NaN,NaN,NaN,6.00000,63.000000,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,2.000000,NaN,NaN,NaN,NaN,65.000000
50%,20.000000,80.000000,NaN,NaN,NaN,7.00000,75.000000,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,67.000000
75%,24.000000,90.000000,NaN,NaN,NaN,8.00000,88.000000,NaN,NaN,2.000000,NaN,NaN,NaN,NaN,4.000000,NaN,NaN,NaN,NaN,69.000000
max,44.000000,100.000000,NaN,NaN,NaN,10.00000,100.000000,NaN,NaN,8.000000,NaN,NaN,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,101.000000

##  Observaciones iniciales

- El dataset contiene **6607 filas** y **20 columnas**.  
- Las columnas incluyen tanto **variables num茅ricas** (ej. `Exam_Score`, `Hours_Studied`) como **categ贸ricas** (ej. `Gender`, `Parental_Involvement`, `Motivation_Level`).  
- Podemos observar posibles **valores nulos** en algunas columnas, que deber谩n ser tratados en la fase de limpieza.  
- Hay variables con valores de texto que podr铆an necesitar **normalizaci贸n** (ej. categor铆as con may煤sculas/min煤sculas o espacios).  
- Los nombres de las columnas ya estaban en `snake_case`, por lo que solo se convirtieron a **min煤sculas**.
- El dataset parece adecuado para un an谩lisis exploratorio, ya que combina factores sociales, acad茅micos y personales relacionados con el rendimiento estudiantil.

## Ч 3. Limpieza de datos

En esta secci贸n se realiza una limpieza b谩sica del dataset para asegurar su calidad antes del an谩lisis.  
Se revisan duplicados, valores nulos, tipos de datos y posibles normalizaciones.

### Normalizaci贸n de nombres de columnas

Para facilitar el acceso a las columnas y mantener la coherencia del c贸digo,  
se van a convertir todos los nombres de las columnas a **min煤sculas**.

In [26]:
# Convertir nombres de columnas a min煤sculas
#df.columns = df.columns.str.lower()
df.columns = [i.lower() for i in df.columns]
df

,hours_studied,attendance,parental_involvement,access_to_resources,extracurricular_activities,sleep_hours,previous_scores,motivation_level,internet_access,tutoring_sessions,family_income,teacher_quality,school_type,peer_influence,physical_activity,learning_disabilities,parental_education_level,distance_from_home,gender,exam_score
0,23,84,Low,High,No,7,73,Low,Yes,0,Low,Medium,Public,Positive,3,No,High School,Near,Male,67
1,19,64,Low,Medium,No,8,59,Low,Yes,2,Medium,Medium,Public,Negative,4,No,College,Moderate,Female,61
2,24,98,Medium,Medium,Yes,7,91,Medium,Yes,2,Medium,Medium,Public,Neutral,4,No,Postgraduate,Near,Male,74
3,29,89,Low,Medium,Yes,8,98,Medium,Yes,1,Medium,Medium,Public,Negative,4,No,High School,Moderate,Male,71
4,19,92,Medium,Medium,Yes,6,65,Medium,Yes,3,Medium,High,Public,Neutral,4,No,College,Near,Female,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6602,25,69,High,Medium,No,7,76,Medium,Yes,1,High,Medium,Public,Positive,2,No,High School,Near,Female,68
6603,23,76,High,Medium,No,8,81,Medium,Yes,3,Low,High,Public,Positive,2,No,High School,Near,Female,69
6604,20,90,Medium,Low,Yes,6,65,Low,Yes,3,Low,Medium,Public,Negative,2,No,Postgraduate,Near,Female,68
6605,10,86,High,High,Yes,6,91,High,Yes,2,Low,Medium,Private,Positive,3,No,High School,Far,Female,68
6606,15,67,Medium,Low,Yes,9,94,Medium,Yes,0,Medium,Medium,Public,Positive,4,No,Postgraduate,Near,Male,64

### Duplicados

In [27]:
# Comprobaci贸n de duplicados
duplicados = df.duplicated().sum()
print(f"N煤mero de filas duplicadas: {duplicados}")

N煤mero de filas duplicadas: 0

Se realiz贸 una comprobaci贸n de duplicados en el dataset.  
El resultado fue **0 filas duplicadas**, por lo tanto **no fue necesario eliminar registros repetidos**.

### Valores Nulos

In [28]:
# Comprobaci贸n de valores nulos
df.isna().sum()

hours_studied                  0
attendance                     0
parental_involvement           0
access_to_resources            0
extracurricular_activities     0
sleep_hours                    0
previous_scores                0
motivation_level               0
internet_access                0
tutoring_sessions              0
family_income                  0
teacher_quality               78
school_type                    0
peer_influence                 0
physical_activity              0
learning_disabilities          0
parental_education_level      90
distance_from_home            67
gender                         0
exam_score                     0
dtype: int64

Se detectaron valores *nulos* en **tres columnas** del dataset:

- `Teacher_Quality` (78 nulos): **categ贸rica**
- `Parental_Education_Level` (90 nulos): **categ贸rica**
- `Distance_from_Home` (67 nulos): **categ贸rica**

Todas las columnas ser谩n tratadas con **sustituci贸n** por **modo**, ya que son de tipo categ贸rico.  
Esta estrategia preserva la coherencia del an谩lisis y evita introducir sesgos num茅ricos.

In [ ]:
# Sustituci贸n mode()[0] m谩xima frecuencia
df["teacher_quality"].fillna(df["teacher_quality"].mode()[0], inplace=True)
df["distance_from_home"].fillna(df["distance_from_home"].mode()[0], inplace=True)
df["parental_education_level"].fillna(df["parental_education_level"].mode()[0], inplace=True)

### Tipos de datos

En el dataset, se identificaron 13 columnas categ贸ricas con valores como `"Yes/No"`, `"Low/Medium/High"` o `"Public/Private"`.  
Estas columnas se convierten al tipo `category` para:

- Optimizar el uso de memoria
- Facilitar visualizaciones y agrupaciones

Columnas convertidas:

- `parental_involvement`
- `access_to_resources`
- `extracurricular_activities`
- `motivation_level`
- `internet_access`
- `family_income`
- `teacher_quality`
- `school_type`
- `peer_influence`
- `learning_disabilities`
- `parental_education_level`
- `distance_from_home`
- `gender`

In [31]:
# Conversi贸n de columnas categ贸ricas a tipo 'category'
categoricas = [
    "parental_involvement",
    "access_to_resources",
    "extracurricular_activities",
    "motivation_level",
    "internet_access",
    "family_income",
    "teacher_quality",
    "school_type",
    "peer_influence",
    "learning_disabilities",
    "parental_education_level",
    "distance_from_home",
    "gender"
]
df[categoricas] = df[categoricas].astype("category")

In [ ]:
# Verificamos con info() que se realiz贸 el cambio
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6607 entries, 0 to 6606
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   hours_studied               6607 non-null   int64
 1   attendance                  6607 non-null   int64
 2   parental_involvement        6607 non-null   category
 3   access_to_resources         6607 non-null   category
 4   extracurricular_activities  6607 non-null   category
 5   sleep_hours                 6607 non-null   int64
 6   previous_scores             6607 non-null   int64
 7   motivation_level            6607 non-null   category
 8   internet_access             6607 non-null   category
 9   tutoring_sessions           6607 non-null   int64
 10  family_income               6607 non-null   category
 11  teacher_quality             6607 non-null   category
 12  school_type                 6607 non-null   category
 13  peer_influence              6607 non-null   category
 14  physical_activity           6607 non-null   int64
 15  learning_disabilities       6607 non-null   category
 16  parental_education_level    6607 non-null   category
 17  distance_from_home          6607 non-null   category
 18  gender                      6607 non-null   category
 19  exam_score                  6607 non-null   int64
dtypes: category(13), int64(7)
memory usage: 447.0 KB

### Revisi贸n de rangos y coherencia

Adem谩s de la limpieza b谩sica (duplicados, nulos, nombres de columnas y tipos de datos),  
es importante verificar que los valores del dataset sean **coherentes y est茅n dentro de rangos l贸gicos**.  

En esta secci贸n se revisar谩:

- Que las variables num茅ricas (`attendance`, `sleep_hours`, `hours_studied`, `tutoring_sessions`, `physical_activity`, `exam_score`, `previous_scores`) no tengan valores fuera de rango o negativos.
- Que las variables categ贸ricas (`gender`, `school_type`, `teacher_quality`, etc.) contengan 煤nicamente las categor铆as definidas en la documentaci贸n oficial.
- Que la variable objetivo (`exam_score`) no presente valores nulos y tenga una distribuci贸n razonable.

In [34]:
# Revisar rangos en columnas num茅ricas
print("% Asistencia fuera de rango:", df[~df["attendance"].between(0, 100)].shape[0])
print("Horas de sue帽o fuera de rango:", df[~df["sleep_hours"].between(0, 24)].shape[0])
print("Horas de estudio negativas:", df[df["hours_studied"] < 0].shape[0])
print("Sesiones de tutor铆a negativas:", df[df["tutoring_sessions"] < 0].shape[0])
print("Actividad f铆sica semanal negativas:", df[df["physical_activity"] < 0].shape[0])

# Revisar categor铆as 煤nicas
for col in df.select_dtypes(include="category").columns:
    print(f"{col}: {df[col].unique()}")

% Asistencia fuera de rango: 0
Horas de sue帽o fuera de rango: 0
Horas de estudio negativas: 0
Sesiones de tutor铆a negativas: 0
Actividad f铆sica semanal negativas: 0
parental_involvement: ['Low', 'Medium', 'High']
Categories (3, object): ['High', 'Low', 'Medium']
access_to_resources: ['High', 'Medium', 'Low']
Categories (3, object): ['High', 'Low', 'Medium']
extracurricular_activities: ['No', 'Yes']
Categories (2, object): ['No', 'Yes']
motivation_level: ['Low', 'Medium', 'High']
Categories (3, object): ['High', 'Low', 'Medium']
internet_access: ['Yes', 'No']
Categories (2, object): ['No', 'Yes']
family_income: ['Low', 'Medium', 'High']
Categories (3, object): ['High', 'Low', 'Medium']
teacher_quality: ['Medium', 'High', 'Low']
Categories (3, object): ['High', 'Low', 'Medium']
school_type: ['Public', 'Private']
Categories (2, object): ['Private', 'Public']
peer_influence: ['Positive', 'Negative', 'Neutral']
Categories (3, object): ['Negative', 'Neutral', 'Positive']
learning_disabilities: ['No', 'Yes']
Categories (2, object): ['No', 'Yes']
parental_education_level: ['High School', 'College', 'Postgraduate']
Categories (3, object): ['College', 'High School', 'Postgraduate']
distance_from_home: ['Near', 'Moderate', 'Far']
Categories (3, object): ['Far', 'Moderate', 'Near']
gender: ['Male', 'Female']
Categories (2, object): ['Female', 'Male']

Se verificaron los valores de las columnas num茅ricas y categ贸ricas:

- `attendance` est谩 dentro del rango 0100.  
- `sleep_hours` no presenta valores fuera del rango 024.  
- `hours_studied`, `tutoring_sessions` y `physical_activity` no tienen valores negativos.  
- Las variables categ贸ricas (`gender`, `school_type`, `teacher_quality`, etc.) presentan 煤nicamente las categor铆as definidas en la documentaci贸n oficial.

###  Limpieza completada

Se ha realizado una limpieza completa del dataset, incluyendo:

- Eliminaci贸n de duplicados (no se encontraron registros repetidos)
- Sustituci贸n de valores nulos en columnas categ贸ricas usando el modo
- Normalizaci贸n de nombres de columnas a min煤sculas
- Conversi贸n de columnas categ贸ricas al tipo `category` seg煤n la documentaci贸n oficial
- Verificaci贸n de rangos en variables num茅ricas y coherencia en categor铆as

Con estos pasos, el dataset queda listo para la fase de visualizaci贸n y an谩lisis exploratorio.